body {
    font-family: 'sans-serif';
    color: darkslategray;
    background-color: grey;
    text-align: center;
}

button {
    font-family: 'sans-serif';
    color: darkslategray;
    background-color: lightgray;
    text-align: center;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}

h1,
h2 {
    position: relative;
}

canvas {
    border-style: dashed;
    width: 40%;
    float: left;
    margin-left: 5%;
    height: 250px;
}

#answer {
    text-decoration: underline;
    margin-left: 20px;
}
